{% extends "aznews/base.html" %}


{% block content %}
  <!--================Blog Area =================-->
  <section class="blog_area single-post-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 posts-list">
          <div class="single-post">
            <div class="feature-img">
              <img class="img-fluid"
                   src="{{ post.featured_image.url }}"
                   alt="{{ post.title }}" />
            </div>
            <div class="blog_details">
              <h2>{{ post.title }}</h2>
              <ul class="blog-info-link mt-3 mb-4">
                <li>
                  <a href="#"><i class="fa fa-user"></i>{{ post.tag.all|join:", " }}</a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-comments"></i> 03 Comments</a>
                </li>
              </ul>
              {{ post.content|linebreaksbr }}
            </div>
            <div class="navigation-top">
              <div class="d-sm-flex justify-content-between text-center">
                <p class="like-info">
                  <span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                  people like this
                </p>
                <div class="col-sm-4 text-center my-2 my-sm-0">
                  <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                </div>
                <ul class="social-icons">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-dribbble"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-behance"></i></a>
                  </li>
                </ul>
              </div>
              <div class="navigation-area">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                    {% if previous_post %}
 
                      <div class="thumb">
                        <a href="{% url 'post-detail' previous_post.pk %}">
                          <img class="img-fluid" src="{{ previous_post.featured_image.url }}" alt={{ previous_post.title }}" />
                        </a>
                      </div>
                      <div class="arrow">
                        <a href="{% url 'post-detail' previous_post.pk %}">
                          <span class="lnr text-white ti-arrow-left"></span>
                        </a>
                      </div>
                      <div class="detials">
                        <p>Prev Post</p>
                        <a href="{% url 'post-detail' previous_post.pk %}">
                          <h4>{{ previous_post.title | truncatechars:24 }}</h4>
                        </a>
                      </div>
                    {% endif %}

                  </div>
                  <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                    {% if next_post %}
 
                      <div class="detials">
                        <p>Next Post</p>
                        <a href="{% url 'post-detail' next_post.pk %}">
                          <h4>{{ next_post.title|truncatechars:24 }}</h4>
                        </a>
                      </div>
                      <div class="arrow">
                        <a href="{% url 'post-detail' next_post.pk %}">
                          <span class="lnr text-white ti-arrow-right"></span>
                        </a>
                      </div>
                      <div class="thumb">
                        <a href="{% url 'post-detail' next_post.pk %}">
                          <img class="img-fluid"
                               src="{{ next_post.featured_image.url }}"
                               alt="{{ next_post.title }}" />
                        </a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="blog-author">
              <div class="media align-items-center">
                <img src="{{ post.author.userprofile.image.url }}"
                     alt="{{ post.author.username }}" />
                <div class="media-body">
                  <a href="#">
                    <h4>{{ post.author.get_full_name|default:post.author.username }}</h4>
                  </a>
                  <p>{{ post.author.userprofile.biography }}</p>
                </div>
              </div>
            </div>
            {% include "aznews/detail/comment_list.html" %}
            {% include "aznews/detail/comment_form.html" %}
 
          </div>
        </div>
        <div class="col-lg-4">
          <div class="blog_right_sidebar">
            {% include "aznews/list/right/search_form.html" %}
            {% include "aznews/list/right/categories.html" %}
            {% include "aznews/list/right/popular_posts.html" %}
            {% include "aznews/list/right/tags.html" %}
            {% include "aznews/list/right/newsletter.html" %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ Blog Area end =================-->
{% endblock content %}
